.list{
  width: 400px;
  background-color: lightgray;
  padding: 10px; 
  list-style: none; 
}
.list li{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
 
  border-bottom: 1px solid black;
}

.header{
  
  font-size: 50px;
  font-weight: bold;
}